@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Regular.woff);
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url(../font/Pretendard-Bold.woff);
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url(../font/Pretendard-ExtraBold.woff);
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url(../font/Pretendard-Medium.woff);
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url(../font/Pretendard-SemiBold.woff);
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url(../font/Pretendard-Regular.woff);
}

body {
  font-family: "Pretendard";
}
